<form class="grid" [formGroup]="gastoForm"  >
  <mat-dialog-content class="w-screen">

    <legend class="uppercase text-center text-2xl font-black border-b-4 border-blue-500 w-6/12 py-2 text-black">GUARDAR CAMBIOS
    </legend>
    <br>
    <small *ngIf=dangerBudget class="bg-red-600 font-black text-white  p-2 uppercase  py-2 flex flex-col justify-center items-center w-6/12 m-2">
      Este gasto se sale del presupuesto*
  </small>
    <div>
      <label class="block text-sm font-medium leading-6 text-gray-900">Nombre Gasto:</label>
      <div class="mt-2">
        <input formControlName="nombreGasto"  required
          class=" w-6/12 block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium leading-6 text-gray-900 py-2">Cantidad:</label>
      <div class="mt-2">
        <input formControlName="cantidad"  required
          class=" w-6/12 block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div class="grid grid-cols-1 grap-3">
      <label class="block text-sm font-medium leading-6 text-gray-900 py-2"> Categoría:</label>
      <select
      formControlName="categoria" (change)="onCustomerChanged($event)"
        class=" w-6/12 block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <option *ngFor="let categoria of categories" [value]="categoria.id" [selected]="categoria.selected">
          {{categoria.name}}</option>

      </select>
    </div>

    <div>
      <label class="block text-sm font-medium leading-6 text-gray-900 py-2">Fecha Gasto:</label>
      <mat-form-field appearance="fill" class=" w-6/12">
        <input matInput [matDatepicker]="picker" formControlName="fechaDelGasto">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button
      class="bg-blue-600 cursor-pointer w-6/12 p-2 text-white uppercase font-bold rounded-lg" (click)="onsubmit()">GUARDAR CAMBIOS </button>

  </mat-dialog-actions>

</form>
